.social-loggin
    form
        button.social-login_github
            a(href=routes.github)
                span
                    i.fab.fa-github
                |Continue with Github

        button.social-login_facebook
            a(href=routes.naver)
                span
                    i.fab.fa-facebook
                |Continue with Facebook

//- span은 div와 달리 개행기능이 없으므로 깃헙로그를 주고 옆에 바로 테스트를 줄 수 있다.
    '|' 다음에 나오는 녀석들을 텍스트로 바꿔줌