//로그인버튼과 Join화면에 모두 띄워야할 필요가 있으므로 만들어두자


.social-loggin
    button.social-login_github
        span
            i.fab.fa-github
        |Continue with Github

    button.social-login_facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook

//- span은 div와 달리 개행기능이 없으므로 깃헙로그를 주고 옆에 바로 테스트를 줄 수 있다.
    '|' 다음에 나오는 녀석들을 텍스트로 바꿔줌