//-
    home.pug가 main.pug의 그림에 색칠하겠다는 의미이며 코드가 복사되었음
    확장적으로 코드의 추가삽입이 가능하며, extends pug파일경로/파일명   .pug는 default라서 쓰지않아도 됨
    block에 들어갈 내용들을 채워넣을 수 있다.
    pug의 상대경로참조는 express의 다른 패키지와 사뭇 다른것으로 보인다. 같은 nodejs기반이지만 
    패키지가 다르기떄문에 같아야한다는 것은 아니다.
extends ./layouts/main
include mixins/videoBlock


block content
    .videos
        each item in videos
            +videoBlock({
                id:item.id,
                title:item.title,
                views: item.views,
                videoFile : item.videoFile

            })
    //- each 아무거나 내맘대로 변수명 in videos controller에서 import한 걸 배열로 고스란히 받은 거.
    //- videos들을 사용자에게 보여줘야 하니까, 비디오 블럭을 구현하는 코드를 파일로 만들어서 쓰자 mixin 참조

    //-     title : item.title
            views : ${item.views}
            이렇게 쓰니 까 오류가 났어. 오류가 난 이유는 videoBlock.pug에서 h1 = ~ 이렇게 썼었음. #{} 이거쓰자. 텍스트잖아