extends layouts/main

block content
    label(for='avatar') Avatar
            //- label의 주요속성은 for이다. label의 for값과 어느 태그의 id값이 같으면 '연결'된다.
                이 경우에서는 label과 input의 file타입과 연결이 된다. 즉, input버튼을 누르지 않고
                label태그의 Avatar이라는 문자열 클릭으로도 input이 대응되서 클릭이 되어진다는 이야기
            input(type = "file", id="avatar", name="avatar")
            input(type="text", name="title", placeholder="Title")
            input(type="text", name="descript", placeholder="Description")
            input(type="submit", plaeholder ="Upload Video")