extends layouts/main

block content
    
    .userDetail
        img(src=user.avatarUrl)
        
        p name : #{user.name}
        p e-mail: #{user.email}
        a(href=routes.editProfile(user.id))
            i.fas.fa-pen-square.fa-2x
            span Edit Profile
        
        