//-웹 페이지엫서 반복되는 코드들을 만들꺼임
    mixin은 pug의 함수. parameter가 하나 필요한대, 이 파라미터는 다른 pug에서 받아올꺼야 
    같은구조 다른 데이터 우리는 복붙을 하지 않을 것이다

mixin videoBlock(video = {} )
    .videoBlock
        video.videoBlock_thumbnail(src=video.videoFile, controls = true)
        h4.videoBlock_title=video.title
        h6.videoBlock_views=video.views
//-video인자 받은녀석으로 title~videoFile까지 찍을꺼야.
//- autoplay와 controls = true. src파일 제대로따는법은 db.js참조